VITE_SUPABASE_URL=""
VITE_SUPABASE_ANON_KEY=""
VITE_IMAGEKIT_URL_ENDPOINT=""
VITE_IMAGEKIT_PUBLIC_KEY=""
VITE_APP_URL="http://localhost:5173"
IMAGEKIT_PRIVATE_KEY=""
SUPABASE_URL=""
SUPABASE_ANON_KEY=""
